:root {
    --fuenteTitulo: 'Indie Flower', cursive;
}

.titulo {
    font-family: var(--fuenteTitulo);
    font-size: 8rem;
    color: cadetblue;
}

.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.box1 {
    grid-column: 2/3;
}
.box2{
    grid-column: 3/4;
}

.fondo-sec {
    background-color: wheat;
}
.navegador {
    display: flex;
    flex-direction: column;
}

.navegador a{
    display: block;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    padding: 1rem 2rem;
}

.navegador a:hover {
    color: white;
    background-color: burlywood;
}

@media (min-width: 768px) {
    .navegador {
        flex-direction: row;
        justify-content: space-around;
    } 
}


/** UTILIDADES **/

.tiny {
    font-weight: normal;
    font-size: 2rem;
}

img {
    max-height: 22rem;
    max-width: 22rem;
}

.centrar-texto {
    text-align: center;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto 0 auto;
}

.bg-image {
    background-image:url(../img/fondo-acuarela-pintada-mano-forma-cielo-nubes_24972-1095.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.bordes-sombreados {
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.75);
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
}

a {
    text-decoration: none;
}

/** PRODUCTO **/

/*.productos {
    display: flex;
    flex-direction: row;
    gap: 5rem;
}*/

.productos {
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: 1fr;
    column-gap: 1rem;
}
.producto {
    justify-content: center;
}

.formulario {
    background-color: whitesmoke;
}

.descripcion {
    display: flex;
    flex-direction: row;
}

.descripcion-texto,
.descripcion-visita {
    justify-content: center;
    font-size: 1.8rem;
}

.precio {
    /*margin-left: 1rem;*/
    font-size: 3rem;                       
}

/** INDEX **/

.buscador {
    /*background-color: aliceblue;*/
    padding: 2rem;
    display: inline-block;
    border-radius: 1rem;
}
.buscador label{
    font-size: 1.5rem;
    font-weight: bold;
}

.footer {
    text-align: center;
    background-color: whitesmoke;
    padding: 0.5rem;
    margin: 2rem;
}